<h2>Selamat datang <%= @user.name %> </h2>

<p> Terima kasih sudah mendaftar di aplikasi SAMAKAKI. Silahkan klik link dibawah ini untuk konfirmasi akun anda</p>

<a href = "https://samakaki-fe.fly.dev/user/confirm?token=<%= @user.confirm_token %>"> Konfirmasi </a>
